.nav-item
{
    list-style: none;
    display: inline;
    margin: 0 10px;
}

.nav-link
{
   text-decoration: none;
   color:black;
   font-weight: bold;
}

.container div
{
    display: inline-block;
}


.container
{
    text-align: center;
    width: 100%;
}

.container a
{
    vertical-align: bottom;
}
nav
{
    padding: 10px 0;
}

@media only screen and (max-width: 480px) {
    nav ul
    {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
   .navlogo
   {
     display: block;
   }
}