footer {
    background-color: #495E57;
    padding: 5rem 0;
    box-sizing: border-box;
}

footer section {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
}

.footer-image img {
    background-color: white;
    padding: 10px;
    margin-top: 16px;
}

footer .nav-item {
    list-style: none;
    display: block;
    margin: 0 20px;
}

footer .nav-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.footer-image,
.footer-links {
    display: flex;
}

@media only screen and (max-width: 650px) {

    footer .nav-item {
        list-style: none;
        display: block;
        margin: 0 10px;
    }

    .footer-links ul
    {
        padding: 0;
        text-align: center;
    }

    .footer-image
    {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-links {
       display: inline-block;
       width: 33%;
    }

    footer section {
        display: block;
    }
    footer{
        padding: 0;
    }
}