.banner-section
{
   background-color:white;
   width: 100%;
   padding: 5rem 0;
}

.banner-banner
{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 45%;
    grid-column-gap: 5%;
}

.banner-heading
{
    color: #B79B0F;
    font-size:2rem;
}

.banner-heading h2
{
    margin-bottom: 0;
}

.banner-label
{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}
.banner-description
{
    color:black;
    padding: 1rem 0 2rem 0;
    width: 90%;
    font-size: large;
}

.imga
{
    width: 50%;
    height: 250px;
    margin-left: 8em;
}

.imgb
{
    width: 50%;
    height: 250px;
    margin-top: -5em;
}

@media only screen and (max-width: 768px)
{
   .banner-banner
   {
    grid-template-columns: auto;
   }
   .banner-conent
   {
     text-align: center;
   }
   .banner-description
   {
    margin: auto;
    text-align: justify;
   }
   .banner-image
   {
    width: 85%;
    margin: auto
   }
   .imga
   {
       width: 48%;
       height: 60%;
       margin-left: 0em;
   }
   .imgb
   {
       width: 48%;
       height: 60%;
       margin-top: 0em;
       margin-left: 1px;
   }
}